.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  
  }
  header{
    height:80px;
    width: 100%;
    color: wheat;
    background-color: black;
    display: flex;
    flex-direction: row;
    opacity: 90%;
  }
  .img{
border-radius: 40px; 
  }
 header nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
 }
  
  header nav ul{
   padding :20px 80px;
   display: flex;
   flex-direction:row;
  }
  h4{align-items: center;
  margin:20px;}
  nav ul li{
    display: flex;
    justify-content:space-evenly;
    margin:10px 50px;
    font-size: 18px;
    color: white;
 }
.navigation li {
  display:inline;
}
.header{
  display: flex;
  width:90%;
  padding: 10px;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.landingpage{
  height:90vh;
  width: 100%;
  background-image: url("./imgs/house1.webp");
  background-size: cover;
  background-position: center;
  opacity: 90%;
}
.heroText{
  width:500px;
  margin:5rem auto;
  color:white;
  border: 2px solid silver;
  padding:10px;
  background:black;
  opacity: 60%;
  border-radius: 5px;
}
h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
footer{
  background-color: black;
  height: 80px;
}
.footer-copyright{
    display: flex;
    color:wheat;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 18px;
    margin-top: 10px;
}
.footer-copyright a{
color:wheat;
text-decoration: none;
}